# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
my_string = "Rajesh"

In [2]:
reverse_string = my_string[::-1]

In [3]:
reverse_string

'hsejaR'

2. Check if a string is a palindrome.

In [4]:
string = "katak"
reversed_string = ""

for i in range(len(string)-1, -1, -1):
    reversed_string += string[i]

if string == reversed_string:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

3. Convert a string to uppercase.

In [5]:
s3 = "rajesh"

In [6]:
new_s3 = s3.upper()

In [7]:
new_s3

'RAJESH'

4. Convert a string to lowercase.

In [8]:
s4 = "RAJESH"
s4

'RAJESH'

In [9]:
new_s4 = s3.lower()

In [10]:
new_s4

'rajesh'

5. Count the number of vowels in a string.

In [11]:
s5 = "Rajesh Behera"

In [12]:
vowels = "aeiou"
count = 0

for char in s5:
    if char.lower() in vowels:
        count += 1

print("The number of vowels in the string is:", count)

The number of vowels in the string is: 5

6. Count the number of consonants in a string.

In [13]:
s6 = "Rajesh Behera"

In [14]:
vowels = "aeiou"
count = 0

for char in s5:
    if char.lower() not in vowels:
        count += 1

print("The number of vowels in the string is:", count)

The number of vowels in the string is: 8

7. Remove all whitespaces from a string.

In [15]:
s7 = "r a j e s h"

In [16]:
s7

'r a j e s h'

In [17]:
s7_new = s7.replace(" ","")

In [18]:
s7_new

'rajesh'

8. Find the length of a string without using the `len()` function.

In [19]:
s7_new

'rajesh'

In [20]:
s8 = len(s7_new)

In [21]:
s8

6

9. Check if a string contains a specific word.

In [22]:
s9 = "Rajesh Kumar Behera"

In [23]:
s9

'Rajesh Kumar Behera'

In [24]:
my_word_to_search = "Kumar"

In [25]:
my_word_to_search in s9

True

10. Replace a word in a string with another word.

In [26]:
s10 = "This is my word"
s10

'This is my word'

In [28]:
s10 = s10.replace("word","new_word")
s10

'This is my new_word'

In [29]:
s10 = s10.replace("word","new_word")
s10

'This is my new_new_word'

11. Count the occurrences of a word in a string.

In [30]:
s11 = "data science pro"

In [33]:
s11.count("a")

2

In [34]:
s11.count("a")

2

12. Find the first occurrence of a word in a string.

In [35]:
string = "find the repeat word from a repeat sentence"
string

'find the repeat word from a repeat sentence'

In [36]:
occurance = string.find("repeat")

In [37]:
occurance

9

13. Find the last occurrence of a word in a string.

In [38]:
string1 = "hello world! hello Python! hello Tableau!"
word = "hello"

In [39]:
index = string1.rfind(word)

In [40]:
print("The last occurrence of the word is at index", index)

The last occurrence of the word is at index 27

14. Split a string into a list of words.

In [41]:
ss = "rajesh kumar behera"
ss1 = ss.split()

In [42]:
ss1

['rajesh', 'kumar', 'behera']

15. Join a list of words into a string.

In [43]:
words = ['rajesh', 'kumar', 'behera']

In [44]:
words

['rajesh', 'kumar', 'behera']

In [45]:
join(words)

NameError: name 'join' is not defined

In [46]:
new = " " .join(words)

In [47]:
new

'rajesh kumar behera'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [48]:
string11 = "r a j e s h"
string11

'r a j e s h'

In [49]:
string12 = string11.replace(" ", 
                            "_")

In [50]:
string12

'r_a_j_e_s_h'

17. Check if a string starts with a specific word or phrase.

In [51]:
new

'rajesh kumar behera'

In [52]:
my_word = "rajesh"

In [53]:
new.startswith(my_word)

True

18. Check if a string ends with a specific word or phrase.

In [54]:
new

'rajesh kumar behera'

In [55]:
my_word1 = "behera"

In [56]:
new.endswith(my_word1)

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [57]:
string1 = "hello world"

In [58]:
s22 = string1.title()
s22

'Hello World'

20. Find the longest word in a string.

In [59]:
string1

'hello world'

In [60]:
string1 = "Welcome to Python programming"

In [61]:
string1

'Welcome to Python programming'

In [62]:
split_string = string1.split()

In [63]:
split_string

['Welcome', 'to', 'Python', 'programming']

In [64]:
longest_word = max(split_string, key = len)

In [65]:
longest_word

'programming'

21. Find the shortest word in a string.

In [66]:
string1

'Welcome to Python programming'

In [67]:
shortest_word = min(split_string, key = len)

In [68]:
shortest_word

'to'

22. Reverse the order of words in a string

In [69]:
s = "sample string"

In [70]:
s

'sample string'

In [71]:
reversed_word = s.split()

In [72]:
reversed_word

['sample', 'string']

In [73]:
reversed_word1 = reversed_word[::-1]

In [74]:
reversed_word1

['string', 'sample']

23. Check if a string is alphanumeric.

In [75]:
s

'sample string'

In [76]:
s.isalnum()

False

24. Extract all digits from a string.

In [77]:
string = "Rajesh 129876 Behera"

In [78]:
string

'Rajesh 129876 Behera'

In [79]:
digits =[]

In [80]:
for char in string:
    if char.isdigit():
        digits.append(char)
print("The digits in the string are:", digits)

The digits in the string are: ['1', '2', '9', '8', '7', '6']

25. Extract all alphabets from a string.

In [81]:
string

'Rajesh 129876 Behera'

In [82]:
alphabet = []

In [83]:
for char in string:
    if char.isalpha():
        alphabet.append(char)
print("The alphabets in the string are:", alphabet)

The alphabets in the string are: ['R', 'a', 'j', 'e', 's', 'h', 'B', 'e', 'h', 'e', 'r', 'a']

26. Count the number of uppercase letters in a string.

In [84]:
string

'Rajesh 129876 Behera'

In [85]:
count = 0

In [86]:
for char in string:
    if char.isupper():
        count += 1
print("The number of uppercase letters is:", count)

The number of uppercase letters is: 2

27. Count the number of lowercase letters in a string.

In [87]:
newcount = 0

In [88]:
for char in string:
    if char.islower():
        newcount += 1
print("The number of uppercase letters is:", newcount)

The number of uppercase letters is: 10

28. Swap the case of each character in a string.

29. Remove a specific word from a string.

In [89]:
string

'Rajesh 129876 Behera'

In [90]:
word_to_remove = "Behera"

In [91]:
new_string = string.replace(word_to_remove, "", 1)

In [92]:
new_string

'Rajesh 129876 '

30. Check if a string is a valid email address.

In [93]:
email = "imrajeshbehera@gmail.com"

31. Extract the username from an email address string.

In [94]:
email

'imrajeshbehera@gmail.com'

In [95]:
username = email.split("@")[0]

In [96]:
username

'imrajeshbehera'

32. Extract the domain name from an email address string.

In [97]:
email

'imrajeshbehera@gmail.com'

In [98]:
domain = email.split("@")[1]

In [99]:
domain

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [106]:
str = "Replace  multiple  spaces     in    a  string with    a  single   space."

In [107]:
str

'Replace  multiple  spaces     in    a  string with    a  single   space.'

In [108]:
new_str = " ".join(str.split())

In [109]:
new_str

'Replace multiple spaces in a string with a single space.'

34. Check if a string is a valid URL.

35. Extract the protocol (http or https) from a URL string.

In [113]:
import re

In [114]:
url = "https://www.google.com"
protocol = re.match(r"(https?)://", url).group(1)
print(protocol)

https

36. Find the frequency of each character in a string.

In [115]:
my_string = "This is a string"

In [116]:
frequency = {}

In [117]:
for char in my_string:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

In [118]:
print(frequency)

{'T': 1, 'h': 1, 'i': 3, 's': 3, ' ': 3, 'a': 1, 't': 1, 'r': 1, 'n': 1, 'g': 1}

37. Remove all punctuation from a string.

In [119]:
import string

In [122]:

my_string = "Rajesh! Kumar@ behera#"

In [123]:
no_punct_string = my_string.translate(str.maketrans("", "", string.punctuation))

print(no_punct_string)

Rajesh Kumar behera

38. Check if a string contains only digits.

In [128]:
my_string = "12345"

In [129]:
if my_string.isdigit():
    print("The string contains only digits")
else:
    print("The string contains non-digit characters")

The string contains only digits

39. Check if a string contains only alphabets

In [132]:
my_string = "Fullstackdata"

In [133]:
if my_string.isalpha():
    print("The string contains only alphabets")
else:
    print("The string contains non-alphabetic characters")

The string contains only alphabets

40. Convert a string to a list of characters.

In [134]:
str1 = "convert a string"

In [135]:
new_str1 = list(str1)

41. Check if two strings are anagrams.

In [136]:
string1 = "mystring"
string2 = "rajesh"

if sorted(string1) == sorted(string2):
    print("The strings are anagrams")
else:
    print("The strings are not anagrams")

The strings are not anagrams

42. Encode a string using a Caesar cipher.

In [145]:
def caesar_cipher_encode(text, shift):
    encoded_text = ""
    for char in text:
        if char.isalpha():  # Check if the character is alphabetic.
            shift_amount = shift % 26  # Ensure the shift is within the alphabet range.
            if char.islower():
                encoded_char = chr(((ord(char) - ord('a') + shift_amount) % 26) + ord('a'))
            else:
                encoded_char = chr(((ord(char) - ord('A') + shift_amount) % 26) + ord('A'))
        else:
            encoded_char = char  # If it's not alphabetic, leave it unchanged.
        encoded_text += encoded_char
    return encoded_text

# Example usage:
text_to_encode = "Hello, World!"
shift_amount = 3
encoded_text = caesar_cipher_encode(text_to_encode, shift_amount)
print(encoded_text)  # This will print: "Khoor, Zruog!"

Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

In [146]:
def caesar_cipher_decode(encoded_text, shift):
    decoded_text = ""
    for char in encoded_text:
        if char.isalpha():
            shift_amount = shift % 26
            if char.islower():
                decoded_char = chr(((ord(char) - ord('a') - shift_amount) % 26) + ord('a'))
            else:
                decoded_char = chr(((ord(char) - ord('A') - shift_amount) % 26) + ord('A'))
        else:
            decoded_char = char
        decoded_text += decoded_char
    return decoded_text

# Example usage:
encoded_text_to_decode = "Khoor, Zruog!"
shift_amount = 3
decoded_text = caesar_cipher_decode(encoded_text_to_decode, shift_amount)
print(decoded_text)  # This will print: "Hello, World!"

Hello, World!

44. Find the most frequent word in a string.

In [141]:
from collections import Counter

my_string = "This is is a string with some repeated words."
word_list = my_string.split()
word_count = Counter(word_list)
most_common_word = word_count.most_common(1)[0][0]

print(most_common_word)

is

45. Find all unique words in a string.

In [142]:
my_string

'This is is a string with some repeated words.'

In [143]:
word_list = my_string.split()
unique_words = set(word_list)

In [144]:
print(unique_words)

{'string', 'with', 'some', 'a', 'is', 'This', 'words.', 'repeated'}

46. Count the number of syllables in a string

47. Check if a string contains any special characters.

In [148]:
import re

my_string = "Hello, World!"
if re.search('[^A-Za-z0-9]+', my_string):
    print("The string contains special characters")
else:
    print("The string does not contain special characters")

The string contains special characters

48. Remove the nth word from a string.

In [150]:
def remove_nth_word(string, n):
    words = string.split()
    words.pop(n-1)
    return " ".join(words)

my_string = "This is a string."
n = 4
new_string = remove_nth_word(my_string, n)

print(new_string)

This is a

49. Insert a word at the nth position in a string.

In [151]:
def insert_word(string, word, n):
    words = string.split()
    words.insert(n-1, word)
    return " ".join(words)

my_string = "This is a string with some words."
word = "new"
n = 3
new_string = insert_word(my_string, word, n)

print(new_string)

This is new a string with some words.

50. Convert a CSV string to a list of lists.

In [152]:
import csv

csv_string = "1,2,3\n4,5,6\n7,8,9"
csv_list = list(csv.reader(csv_string.splitlines()))

print(csv_list)

[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

# List Based Practice Problem :

In [153]:
#1. Create a list with integers from 1 to 10.

In [154]:
my_list = list(range(1, 11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [155]:
my_list1 = [1, 2, 3, 4, 5]

In [156]:
count = 0
for element in my_list1:
    count += 1
count

5

3. Append an element to the end of a list.

In [157]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [158]:
my_list.append(11)

In [159]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [160]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 6)
my_list

[1, 2, 6, 3, 4, 5]

5. Remove an element from a list by its value.

In [164]:
my_list = [1, 2, 3, 4, 5]
value = 3
my_list.remove(value)

print(my_list)
# Here remove()method is used to remove the element with the value 3 from the list.

[1, 2, 4, 5]

6. Remove an element from a list by its index.

In [165]:
my_list = [1, 2, 3, 4, 5]
index = 2
my_list.pop(index)

print(my_list)
# pop() method is used to remove the element at index 2 from the list.

[1, 2, 4, 5]

7. Check if an element exists in a list.

In [166]:
my_list = [1, 2, 3, 4, 5]
element = 3
if element in my_list:
    print("The element exists in the list")
else:
    print("The element does not exist in the list")

# in this code, in operator is used to check if the element with value 3 exists in the list.

The element exists in the list

8. Find the index of the first occurrence of an element in a list.

In [167]:
my_list = [1, 2, 3, 4, 5]
element = 3
index = my_list.index(element)

print(index)

#In the above code, index() method is used to get the index of the first occurrence of the element with value 3 in the list.

2

9. Count the occurrences of an element in a list.

In [168]:
my_list = [1, 2, 3, 4, 5, 3]
element = 3
count = my_list.count(element)

print(count)

# here, count() method is used to count the number of occurrences of the element with value 3 in the list.

2

10. Reverse the order of elements in a list.

In [172]:
my_list

[1, 2, 3, 4, 5, 3]

In [173]:
my_list.reverse()

print(my_list)

# I have used reverse() method is used to reverse the order of elements in the list

[3, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [174]:
my_list = [5, 2, 3, 1, 4]
my_list.sort()

print(my_list)

#sort() method is used to sort the list in ascending order.

[1, 2, 3, 4, 5]

12. Sort a list in descending order.

In [175]:
my_list = [5, 2, 3, 1, 4]
my_list.sort(reverse=True)

print(my_list)
#sort() method is used to sort the list in descending order by passing the reverse=True argument.

[5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [177]:
even_numbers = [i for i in range(1, 21) if i % 2 == 0]
print(even_numbers)
# I have used for loop and if statement to create a new list of even numbers.

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [178]:
odd_numbers = [i for i in range(1, 21) if i % 2 != 0]
print(odd_numbers)
# I have used for loop and if statement to create a new list of odd numbers.

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [179]:
my_list

[5, 4, 3, 2, 1]

In [183]:
sumofall = sum(my_list)
#The sum() function adds the numbers from the list and returns the total

In [184]:
sumofall

15

16. Find the maximum value in a list.

In [185]:
my_list

[5, 4, 3, 2, 1]

In [187]:
max_value = max(my_list)
#the max() is used to get the maximum number from list

In [188]:
max_value

5

17. Find the minimum value in a list.

In [189]:
min_value = min(my_list)
#the min() is used to get the maximum number from list

In [190]:

min_value

1

18. Create a list of squares of numbers from 1 to 10.

In [192]:
squares = [i**2 for i in range(1, 11)]
print(squares)
#range() function generates a sequence of numbers from 1 to 10. Then i have used the ** operator to square each number in the range.

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [195]:
import random

random_numbers = [random.randint(1, 1000) for _ in range(10)]
print(random_numbers)
#This will output a list of 10 random integers between 1 and 1000

[418, 262, 314, 641, 330, 472, 688, 253, 724, 497]

20. Remove duplicates from a list.

In [196]:
my_list = [1, 2, 3, 2, 4, 5, 3]
unique_list = list(set(my_list))
print(unique_list)
#This will give a new list with the unique values after the removal of duplicates

[1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [197]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

In [199]:
common_elements = list(set(list1).intersection(list2))
print(common_elements)
# i have used set() to convert list to set with unique values and then used intersection() to get the common elements

[3, 4, 5]

22. Find the difference between two lists.

In [201]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
difference = list(set(list1) - set(list2))
print(difference)
#This will give a new list with the elements that are in list1 but not in list2

[1, 2]

23. Merge two lists.

In [202]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

In [204]:
merged_list = list1 + list2
print(merged_list)
#This will give a new list with the elements of both lists combined including duplicates

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

24. Multiply all elements in a list by 2.

In [205]:
list1

[1, 2, 3, 4, 5]

In [206]:
newlist = [x * 2 for x in list1]
newlist
#used a for loop to miltiply 2 in each element in  list1

[2, 4, 6, 8, 10]


25. Filter out all even numbers from a list.

In [207]:
my_list = [1, 2, 3, 4, 5]
even_numbers = [x for x in my_list if x % 2 == 0]
print(even_numbers)

[2, 4]

26. Convert a list of strings to a list of integers.

In [208]:
my_list = ['1', '2', '3', '4', '5']
int_list = [int(x) for x in my_list]
print(int_list)
# used int() to convert all element to int from string

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [213]:
l11 = [1, 2, 3, 4, 5]

In [214]:
newl11 = [str(i) for i in l11]

TypeError: 'str' object is not callable

28. Flatten a nested list.

In [215]:
nested_list = [[1, 2], [3, 4, 5], [6, 7, 8, 9]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [216]:
fibonacci = [0, 1]
for i in range(2, 10):
    fibonacci.append(fibonacci[i-1] + fibonacci[i-2])
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [217]:
my_list = [1, 2, 3, 4, 5]
if my_list == sorted(my_list):
    print("The list is sorted.")
else:
    print("The list is not sorted.")
    
# sorted() is used to check if the elements are sorted

The list is sorted.

In [218]:
my_list = [7, 2, 9, 3, 5]
if my_list == sorted(my_list):
    print("The list is sorted.")
else:
    print("The list is not sorted.")
    
# sorted() is used to check if the elements are sorted

The list is not sorted.

31. Rotate a list to the left by `n` positions.

In [220]:
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = my_list[n:] + my_list[:n]
print(rotated_list)
#here, I have used list slicing to create a new list rotated_list by taking all elements of my_list starting from index n and appending all elements of my_list up to index n

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [221]:
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = my_list[-n:] + my_list[:-n]
print(rotated_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [223]:
primes = []
for num in range(2, 51):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        primes.append(num)
print(primes)
# i have used nested for loop to generate all prime numbers.

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [224]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = 3
small_list = [my_list[i:i+n] for i in range(0, len(my_list), n)]
print(small_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [225]:
my_list = [1, 2, 3, 4, 5]
largest = max(my_list)
second_largest = max([num for num in my_list if num != largest])
print(second_largest)

4

36. Replace every element in a list with its square.

In [226]:
my_list = [1, 2, 3, 4, 5]
squared_list = [x**2 for x in my_list]
print(squared_list)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [227]:
my_list = ['apple', 'banana', 'cherry']
my_dict = {i: my_list[i] for i in range(len(my_list))}
print(my_dict)
# I have created dictionary by iterating over each index i in range(len(my_list))

{0: 'apple', 1: 'banana', 2: 'cherry'}

38. Shuffle the elements of a list randomly.

In [228]:
import random

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)
# i have used random.shuffle() function to shuffle the elements of my_list randomly. This function modifies the original list in place so that there is no need to create a new list

[2, 5, 3, 1, 4]

39. Create a list of the first 10 factorial numbers.

In [230]:
factorials = [1]
for i in range(1, 11):
    factorials.append(factorials[-1] * i)
print(factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [231]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
if set(list1) & set(list2):
    print("The two lists have at least one element in common.")
else:
    print("The two lists do not have any elements in common.")

The two lists do not have any elements in common.

In [232]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 2, 8, 9, 10]
if set(list1) & set(list2):
    print("The two lists have at least one element in common.")
else:
    print("The two lists do not have any elements in common.")

The two lists have at least one element in common.

41. Remove all elements from a list.

In [233]:
list1

[1, 2, 3, 4, 5]

In [234]:
list1.clear()
list1

[]

42. Replace negative numbers in a list with 0.

In [235]:
my_list = [10, -22, 13, -4, 88]
new_list = [max(0, x) for x in my_list]
print(new_list)

[10, 0, 13, 0, 88]

43. Convert a string into a list of words.

In [236]:
my_string = "Rajesh Behera"
word_list = my_string.split()
print(word_list)

['Rajesh', 'Behera']

44. Convert a list of words into a string.

In [237]:
words = ['fullstack', 'data', 'science']
string = ' '.join(words)
print(string)

fullstack data science

45. Create a list of the first `n` powers of 2.

In [238]:
n = 5
powers_of_two = [2 ** i for i in range(n)]
print(powers_of_two)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [240]:
strr33 = ['fullstack', 'data', 'science']

In [241]:
longest_string = max(strr33, key=len)
print(longest_string)

fullstack

47. Find the shortest string in a list of strings.

In [244]:
strr33

['fullstack', 'data', 'science']

In [245]:
shortest_string = min(strr33, key=len)
print(shortest_string)

data

48. Create a list of the first `n` triangular numbers.

In [246]:
n = 5
triangular_numbers = []
for i in range(1, n + 1):
    triangular_numbers.append(i * (i + 1) // 2)
print(triangular_numbers)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [247]:
def is_subsequence(sub, lst):
    n = len(sub)
    return any((sub == lst[i:i+n]) for i in range(len(lst)-n+1))

lst = [1, 2, 3, 4, 5]
sub = [2, 3, 4]
print(is_subsequence(sub, lst))

True

50. Swap two elements in a list by their indices.

In [248]:
def swap_elements(lst, i, j):
    lst[i], lst[j] = lst[j], lst[i]

lst = [1, 2, 3, 4, 5]
swap_elements(lst, 1, 3)
print(lst)

[1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [249]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [1]:
my_tuple = (1, 2, 3, 4, 5)
answer = my_tuple[2]
print(answer) 
# I have used index [] to access the third element of the tuple and assign it to the variable answer

3

3. Find the length of a tuple without using the `len()` function.

In [3]:
my_tuple = (1, 2, 3, 4, 5)
count = 0
for element in my_tuple:
    count += 1
print(count)
# my_tuple variable has five elements. I have used a for loop to iterate over 
#each elementand increment the variable count by 1 for each element

5

4. Count the occurrences of an element in a tuple.

In [4]:
my_tuple = (1, 2, 3, 4, 5, 3, 2, 1)
count = my_tuple.count(3)
print(count)
#my_tuple has eight elements.The count() method is used to count the number
#of times the element 3 appears in the tuple and assign it to the variable count

2

5. Find the index of the first occurrence of an element in a tuple.

In [5]:
t1 = (1,2,4,7,8,4,3,2,2,1)
index = t1.index(2)

In [7]:
print(index)
# index() method is used here to find the index of the first occurrence of the elemen 2

1

6. Check if an element exists in a tuple.

In [9]:
t1 = (11,22,33,44,55)
n = 33
answer = n in t1
answer
# created a tuple t1 and used in() to check if the n value 33 is exist in t1

True

7. Convert a tuple to a list.

In [10]:
t1 = (11,22,33,44,55)
converted_tuple = list(t1)
converted_tuple
#i have used list() to convert a tuple to list

[11, 22, 33, 44, 55]

8. Convert a list to a tuple.

In [12]:
l1 = (11,22,33,44,55)
converted_list = tuple(l1)
converted_list
#i have used tuple() to convert a  list to tuple

(11, 22, 33, 44, 55)

9. Unpack the elements of a tuple into variables.

In [13]:
t1

(11, 22, 33, 44, 55)

In [14]:
a, b, c, d, e = t1

In [16]:
print(a)
print(b)
print(c)
print(d)
print(e)

11
22
33
44
55

10. Create a tuple of even numbers from 1 to 10.

In [18]:
even_numbers = [i for i in range(2, 11, 2)]
even_tuple = tuple(even_numbers)
print(even_tuple)
# I have used a list comprehension to generate a list of even numbers from 2 to 10 and assign it to
# the variable even_numbers. Then converted this list to a tuple using the tuple() and assign it to the variable even_tuple

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [19]:
odd_numbers = [i for i in range(1, 11, 2)]
odd_tuple = tuple(odd_numbers)
print(odd_tuple)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [21]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)
# used + to concatenate 2 tuples

(1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [23]:
t1 = ("rajesh","chintu")
t2 = t1 * 3

In [24]:
t2

('rajesh', 'chintu', 'rajesh', 'chintu', 'rajesh', 'chintu')

14. Check if a tuple is empty.

In [26]:
t3 = ()
if not t3:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

# used not operator with my tuple to check if it is empty

The tuple is empty

15. Create a nested tuple.

In [30]:
t4 = ((1,2),(7,6),(4,4))
t4

((1, 2), (7, 6), (4, 4))

In [28]:
t4

((1, 2), (7, 6), (4, 4))

16. Access the first element of a nested tuple.

In [31]:
t4

((1, 2), (7, 6), (4, 4))

In [33]:
first_element = t4[0][0]
first_element
# i have used index operator [] twice to access the first element of the first tuple and assign it to the variable first_element

1

17. Create a tuple with a single element.

In [34]:
t5 = (100,)
t5

(100,)

18. Compare two tuples.

In [35]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
tuple2 == tuple2

True

19. Delete a tuple.

In [36]:
tuple1 = (1, 2, 3)
del tuple1

In [38]:
tuple1 # no result coming as tuple1 is now deleted

NameError: name 'tuple1' is not defined

20. Slice a tuple.

In [40]:
my_tuple = (1, 2, 3, 4, 5)
slice_tuple = my_tuple[1:4]
print(slice_tuple)
# : to extract a portion of the tuple from the second element to the fourth element

(2, 3, 4)

21. Find the maximum value in a tuple.

In [41]:
my_tuple = (1, 2, 3, 4, 5)
max_value = max(my_tuple)
print(max_value)

5

22. Find the minimum value in a tuple.

In [42]:
my_tuple = (1, 2, 3, 4, 5)
min_value = min(my_tuple)
print(min_value)

1

23. Convert a string to a tuple of characters.

In [43]:
my_string = "rajesh"
my_tuple = tuple(my_string)
print(my_tuple)
# usde the tuple() function to convert the string to a tuple and assign it to the variable my_tuple

('r', 'a', 'j', 'e', 's', 'h')

24. Convert a tuple of characters to a string.

In [47]:
yy = ('r', 'a', 'j', 'e', 's', 'h')
string1 = ''.join(yy)
string1

'rajesh'

25. Create a tuple from multiple data types.

In [48]:
tt = (11,"rajesh",44,56, True)
tt

(11, 'rajesh', 44, 56, True)

26. Check if two tuples are identical.

In [49]:
tuple3 = (1, 2, 3)
tuple4 = (1, 2, 3)
tuple3 == tuple4

True

27. Sort the elements of a tuple.

In [51]:
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
sorted_list = sorted(my_tuple)
print(sorted_list)
# used the sorted() function to sort the elements of the tuple in ascending order
#This includes duplicates

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

28. Convert a tuple of integers to a tuple of strings.

In [52]:
my_tuple = (1, 2, 3, 4, 5)
string_tuple = tuple(str(i) for i in my_tuple)
print(string_tuple)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [53]:
my_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(int(i) for i in my_tuple)
print(int_tuple)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [54]:
t1

('rajesh', 'chintu')

In [55]:
t2

('rajesh', 'chintu', 'rajesh', 'chintu', 'rajesh', 'chintu')

In [56]:
t1 + t2

('rajesh',
 'chintu',
 'rajesh',
 'chintu',
 'rajesh',
 'chintu',
 'rajesh',
 'chintu')

31. Flatten a nested tuple.

In [57]:
def flatten_tuple(nested_tuple):
    flattened = []
    for element in nested_tuple:
        if isinstance(element, tuple):
            flattened += flatten_tuple(element)
        else:
            flattened.append(element)
    return tuple(flattened)

my_tuple = ((1, 2), (3, (4, 5)), 6, (7,), 8)
flattened_tuple = flatten_tuple(my_tuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [60]:
first_5_prime = (2,3,5,7,11)

In [61]:
first_5_prime

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [62]:
t10 = (1,2,3,2,1)
reversed_t10 = t10[::-1]

In [63]:
reversed_t10

(1, 2, 3, 2, 1)

In [64]:
t10 == reversed_t10

True

34. Create a tuple of squares of numbers from 1 to 5.

In [66]:
squares = tuple(i**2 for i in range(1, 6))
print(squares)
#The range() function generates a sequence of numbers from 1 to 5  and the i**2 expression calculates the square of each number.

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [67]:
tt1 = (1,2,4,5,7,9,10,14,18,19,21,23)
even_numbers = tuple(i for i in tt1 if i % 2 == 0)
even_numbers

(2, 4, 10, 14, 18)

36. Multiply all elements in a tuple by 2.

In [68]:
tt1

(1, 2, 4, 5, 7, 9, 10, 14, 18, 19, 21, 23)

In [69]:
multiplied_result = tuple(i * 2 for i in tt1)
multiplied_result

(2, 4, 8, 10, 14, 18, 20, 28, 36, 38, 42, 46)

37. Create a tuple of random numbers.

In [70]:
import random
random_numbers = tuple(random.random() for _ in range(10))

print(random_numbers)

(0.8311961854683269, 0.08863095030954105, 0.2861739191366557, 0.854789106959098, 0.5835029426782958, 0.7102348464644874, 0.05293619129146576, 0.476234067532317, 0.5347959994883406, 0.7554163925219208)

38. Check if a tuple is sorted.

In [71]:
tt1

(1, 2, 4, 5, 7, 9, 10, 14, 18, 19, 21, 23)

In [72]:
is_sorted = tt1 == tuple(sorted(tt1))

In [73]:
is_sorted

True

39. Rotate a tuple to the left by `n` positions.

In [74]:
ttt = (1,2,3,4,5)
n = 2
rotate = ttt[n:] + ttt[:n]
rotate

(3, 4, 5, 1, 2)


40. Rotate a tuple to the right by `n` positions.

In [75]:
ttt

(1, 2, 3, 4, 5)

In [76]:
n = 3
rotate2 = ttt[-n:] + ttt[:-n]
rotate2

(3, 4, 5, 1, 2)

41. Create a tuple of the first 5 Fibonacci numbers.

In [77]:
def fibonacci(n):
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[i-1] + fib[i-2])
    return tuple(fib[:n])

# Call the function to generate the first 5 Fibonacci numbers
fibonacci_numbers = fibonacci(5)

print(fibonacci_numbers)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [80]:
user_input = input("Enter list of values ")

user_input_list = user_input.split(",")

# Convert each string to an integer and create a tuple
value_tuple = tuple(user_input_list)

print(value_tuple)

Enter list of values r,a,j
('r', 'a', 'j')

43. Swap two elements in a tuple.

In [81]:
# Define a tuple of numbers
numbers = (1, 2, 3, 4, 5, 6)

# Convert the tuple to a list
numbers_list = list(numbers)

# Swap the elements at indices i and j
i, j = 1, 3
numbers_list[i], numbers_list[j] = numbers_list[j], numbers_list[i]

# Convert the list back to a tuple
swapped_numbers = tuple(numbers_list)

print(swapped_numbers)

(1, 4, 3, 2, 5, 6)

44. Reverse the elements of a tuple

In [82]:
# Define a tuple of numbers
t44 = (1, 2, 3, 4, 5, 6)

# Use slicing to reverse the tuple
reversedd = t44[::-1]

print(reversedd)

(6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [83]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
result = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print(result)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [86]:
# Define a tuple of strings
s3 = ('rajesh', 'kumar', 'Chin')

# Find the longest string in the tuple
longest_string = max(s3, key=len)

print(longest_string)

rajesh

47. Find the shortest string in a tuple of strings.

In [87]:
# Define a tuple of strings
s3 = ('rajesh', 'kumar', 'Chin')

# Find the longest string in the tuple
shortest_string = min(s3, key=len)

print(shortest_string)

Chin

48. Create a tuple of the first `n` triangular numbers.

In [88]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [89]:
# Define the main tuple and the sub-tuple
main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (3, 4)

# Check if the sub-tuple is a subsequence of the main tuple
is_subsequence = all(item in main_tuple for item in sub_tuple)

print(is_subsequence)

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [90]:
# Define the length of the tuple
n = 10

# Use a generator expression to create the tuple
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [91]:
my_set = {1, 2, 3, 4, 5}

In [92]:
my_set

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [93]:
my_set

{1, 2, 3, 4, 5}

In [94]:
my_set.add(10)
my_set

{1, 2, 3, 4, 5, 10}

3. Remove an element from a set.

In [95]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)

In [98]:
my_set

{1, 2, 4, 5}

In [96]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)

In [97]:
my_set

{1, 2, 4, 5}

4. Check if an element exists in a set.

In [99]:
my_set = {1, 2, 3, 4, 5}
if 3 in my_set:
    print("3 is present in the set")
else:
    print("3 is not present in the set")

3 is present in the set

5. Find the length of a set without using the `len()` function.

In [100]:
my_set

{1, 2, 3, 4, 5}

In [104]:
my_set = {1, 2, 3, 4, 5}
count = 0
for _ in my_set:
    count += 1
print("Length of the set:", count)

Length of the set: 5

6. Clear all elements from a set.

In [105]:
my_set

{1, 2, 3, 4, 5}

In [106]:
my_set.clear()
my_set

set()

7. Create a set of even numbers from 1 to 10.

In [107]:
my_set

set()

In [111]:
my_set = set(range(2, 11, 2))
#The range() function generates a sequence of numbers from 1 to 10 with a step of 2, and the set() function converts the sequence into a set

In [112]:
my_set

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [113]:
my_set = set(range(1, 11, 2))
my_set

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [114]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
union_result = set1.union(set2)

union_result

{1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [115]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
intersection_result = set1.intersection(set2)

intersection_result

{4, 5}

11. Find the difference between two sets.

In [116]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [117]:
diff_set = set1 - set2

In [118]:
diff_set

{1, 2, 3}

In [119]:
diff_set = set1.difference(set2)

In [120]:
diff_set

{1, 2, 3}

12. Check if a set is a subset of another set.

In [121]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

13. Check if a set is a superset of another set.

In [122]:
set1 = {1, 2, 3}
set2 = {1, 2}
if set1.issuperset(set2):
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

#This will check if set1 is a superset of set2. If it is a superset, it will print set1 is a superset of set2

set1 is a superset of set2

14. Create a set from a list.

In [125]:
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [126]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
my_list

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [127]:
my_set = {1, 2, 3, 4, 5}
my_set.pop()
my_set

{2, 3, 4, 5}

17. Pop an element from a set.

In [128]:
my_set = {1, 2, 3, 4, 5}
my_set.pop()
my_set

{2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [129]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("set1 and set2 have no elements in common")
else:
    print("set1 and set2 have at least one element in common")

set1 and set2 have no elements in common

19. Find the symmetric difference between two sets.

In [132]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
sym_diff_set = set1.symmetric_difference(set2)

sym_diff_set

{1, 2, 4, 5}

In [133]:
sym_diff_set

{1, 2, 4, 5}

20. Update a set with elements from another set.

In [135]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
# This will create two sets named set1 and set2 containing integers. The update() method and the |= operator will add all the unique elements from set2 to set1

In [136]:
set1

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers

In [140]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [141]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
set1 == set2

True

23. Create a frozen set.

In [142]:
my_set = frozenset([1, 2, 3, 4, 5])
#This will create a frozen set named my_set containing integers from 1 to 5

In [143]:
my_set

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [144]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("set1 and set2 have no elements in common")
else:
    print("set1 and set2 have at least one element in common")

set1 and set2 have no elements in common

25. Create a set of squares of numbers from 1 to 5.

In [146]:
set1 = {1, 2, 3}

In [147]:
squares = {x**2 for x in set1}

In [148]:
squares

{1, 4, 9}

26. Filter out all even numbers from a set

In [151]:
my_set = {1, 2, 3, 4, 5}
my_set = {x for x in my_set if x % 2 == 0}

In [152]:
my_set

{2, 4}

27. Multiply all elements in a set by 2.

In [153]:
my_set = {1, 2, 3, 4, 5}
my_set = {x * 2 for x in my_set}
#for loop iterates over each element in the set and multiplies it by 2 using the * operator. After the loop completes, my_set will contain all the elements from the original set multiplied by 2.

In [154]:
my_set

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [155]:
import random

my_set = set(random.sample(range(1, 101), 10))

In [156]:
my_set

{10, 13, 21, 30, 53, 54, 68, 76, 93, 96}

29. Check if a set is empty.

In [157]:
my_set = set()
if not my_set:
    print("my_set is empty")
else:
    print("my_set is not empty")

my_set is empty

30. Create a nested set (hint: use frozenset).

In [158]:
my_set = frozenset([frozenset([1, 2]), frozenset([3, 4])])
my_set

frozenset({frozenset({3, 4}), frozenset({1, 2})})

31. Remove an element from a set using the discard method.

In [159]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(5)

In [160]:
my_set

{1, 2, 3, 4}

32. Compare two sets.

In [162]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
if set1 == set2:
    print("The sets are equal")
else:
    print("The sets are not equal")
    
#used == operator to compare two sets

The sets are equal

33. Create a set from a string.

In [163]:
string = "rajesh"
set_from_string = set(string)
print(set_from_string)

{'h', 'j', 'r', 's', 'e', 'a'}

34. Convert a set of strings to a set of integers.

In [164]:
string_set = {'1', '2', '3'}
int_set = set(map(int, string_set))
print(int_set)

{1, 2, 3}

35. Convert a set of integers to a set of strings.

In [165]:
int_set = {1, 2, 3}
string_set = {str(x) for x in int_set}
print(string_set)

{'1', '2', '3'}

36. Create a set from a tuple.

In [166]:
tuple1 = (1, 2, 3)
set_from_tuple = set(tuple1)
print(set_from_tuple)

{1, 2, 3}

37. Convert a set to a tuple.

In [167]:
set1 = {1, 2, 3}
tuple_from_set = tuple(set1)
print(tuple_from_set)

(1, 2, 3)

38. Find the maximum value in a set.

In [168]:
set1 = {1, 2, 3}
max_value = max(set1)
print(max_value)

3

39. Find the minimum value in a set.

In [169]:
set1 = {1, 2, 3}
min_value = min(set1)
print(min_value)

1

40. Create a set from user input.

In [170]:
user_input = input("Enter a string: ")
string_set = set(user_input)
print(string_set)

Enter a string: rajesh
{'h', 'j', 'r', 's', 'e', 'a'}

41. Check if the intersection of two sets is empty.

In [171]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [172]:
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [173]:
a = [1, 2, 3, 2, 1]
b = list(set(a))
print(b)

[1, 2, 3]

44. Check if two sets have the same elements, regardless of their count.

In [174]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
if set1 == set2:
    print("The sets are equal")
else:
    print("The sets are not equal")

The sets are equal

45. Create a set of the first `n` powers of 2.

In [175]:
n = 5
powers_of_2 = {2 ** i for i in range(n)}
print(powers_of_2)

{1, 2, 4, 8, 16}

In [176]:
n = 5
powers_of_2 = set()
for i in range(n):
    powers_of_2.add(2 ** i)
print(powers_of_2)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [177]:
set1 = {1, 2, 3}
list1 = [2, 3, 4]
common_elements = set1.intersection(list1)
print(common_elements)

{2, 3}

47. Create a set of the first `n` triangular numbers.

In [179]:
n = 5
triangular_numbers = {i * (i + 1) // 2 for i in range(1, n + 1)}
print(triangular_numbers)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [180]:
set1 = {1, 2, 3}
set2 = {1, 2}
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [181]:
n = 10
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(alternating_set)

{0, 1}

50. Merge multiple sets into one.

In [182]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}